{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!
{% endblock %}

{% block body %}
	<div style="padding:100px;">
		<h2 class="mb-4 text-dark">Mon compte</h2>
		<div class="row">
			<div class="col-md-6">
				{% if app.user %}
					<div class="d-flex">
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('admin') }}" target="_blank" class="me-4">
								<i class="fas fa-screwdriver-wrench fa-lg text-dark"></i>
							</a>
						{% endif %}
						<a href="{{ path('app_logout') }}">
							<i class="fas fa-arrow-right-from-bracket fa-lg text-dark"></i>
						</a>
					</div>
				{% else %}
					<div class="d-flex">
						<a href="{{ path('app_register') }}" class="me-4">
							<i class="fas fa-user fa-lg text-dark"></i>
						</a>
						<a href="{{ path('app_login') }}">
							<i class="fas fa-arrow-right-from-bracket fa-lg text-dark"></i>
						</a>
					</div>
				{% endif %}
			</div>
		</div>

		<br>

		<div class="d-flex">
			<a href="{{ path('app_address_index') }}" class="btn btn-voir-fiche-produit me-3">
				Mes adresses
			</a>
			<a href="{{ path('app_address_new') }}" class="btn btn-voir-fiche-produit">
				Enregister une nouvelle adresse
			</a>
		</div>

		<br><br>

		<h2 class="mb-4 text-dark">Mes commandes</h2>
		{% if orders %}
			<table class="table table-hover">
				<thead>
					<tr>
						{# <th scope="col">#</th> #}
						<th scope="col">Référence</th>
						<th scope="col">Date de création</th>
						<th scope="col">Total TTC</th>
						<th scope="col">État</th>
					</tr>
				</thead>
				<tbody>
					{% for order in orders %}
						<tr>
							{# <th scope="row">{{ order.id }}</th> #}
							<td>{{ order.reference }}</td>
							<td>{{ order.createdAt|date('d/m/Y') }}</td>
							<td>{{ order.subTotalTTC / 100 }}&euro;</td>
							<td>
								{% if order.isCanceled == true %}
									Annulée
								{% elseif order.isRefunded == true %}
									Remboursée
								{% elseif order.isInReturn == true %}
									Retournée
								{% elseif order.isDelivered == true %}
									Livrée
								{% elseif order.isInDelivering == true %}
									En cours de livraison
								{% elseif order.isIsProcess == true %}
									En cours de traitement
								{% endif %}
							</td>
						</tr>
						<tr>
							<td colspan="5">
								<div class="mb-3">
									<p class="mb-0">{{ order.carrierName }}
										-
										{{ order.carrierPrice / 100 }}&euro;
									</p>
									<p class="mb-0">{{ order.fullName }}</p>
									<p class="mb-0">{{ order.moreInformations }}</p>
								</div>
								<table class="table table-bordered bg-light">
									<thead>
										<tr>
											<th scope="col">Produit</th>
											<th scope="col">Prix unitaire</th>
											<th scope="col">Quantité</th>
											<th scope="col">Total TTC</th>
										</tr>
									</thead>
									<tbody>
										{% for orderDetail in order.orderDetails %}
											<tr>
												<td>{{ orderDetail.productName }}</td>
												<td>{{ orderDetail.productPrice / 100 }}&euro;</td>
												<td>{{ orderDetail.quantity }}</td>
												<td>{{ orderDetail.subTotalTTC / 100 }}&euro;</td>
											</tr>
										{% endfor %}
										<tr>
											<td colspan="3">Total HT</td>
											<td>{{ order.subTotalHT / 100 }}&euro;</td>
										</tr>
										<tr>
											<td colspan="3">Taxe</td>
											<td>{{ order.taxe / 100 }}&euro;</td>
										</tr>
										<tr>
											<td colspan="3">Total TTC</td>
											<td>{{ order.subTotalTTC / 100 }}&euro;</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p>Vous n'avez pas encore de commande.</p>
		{% endif %}


	</div>
{% endblock %}
