{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="py-5">
		{% include "include/formulaire-product.html.twig" %}

		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for product in products %}
				<a href="{{ path('product', {'slug':product.slug}) }}">
					{% include "include/product.html.twig" %}
				</a>
			{% endfor %}
		</div>

		<div class="navigation">
			{{ knp_pagination_render(products) }}
		</div>

		<br><br>
		<section class="section-best-seller bg-light">
			<div class="container">
				<h2 class="best-seller-section-title">
					<i class="fas fa-trophy"></i>
				</h2>

				<br>

				<div class="row row-cols-1 row-cols-md-3 g-4">
					{% for product in productBestSeller %}
						{{ include('include/product.html.twig', {'product': product})}}
					{% endfor %}
				</div>
			</div>
		</section>

		<br><br>
		<p>Tous les produits New Arrival</p>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for product in productNewArrival %}
				{{ include('include/product.html.twig', {'product': product})}}
			{% endfor %}
		</div>

		<br><br>
		<p>Tous les produits Featured</p>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for product in productFeatured %}
				{{ include('include/product.html.twig', {'product': product})}}
			{% endfor %}
		</div>

		<br><br>
		<p>Tous les produits SpecialOffer</p>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for product in productSpecialOffer %}
				{{ include('include/product.html.twig', {'product': product})}}
			{% endfor %}
		</div>

		<section class="my-5">
			<div class="row">
				<div class="col-md-6 mx-auto">
					{% include "include/article.html.twig" %}
					{# <div class="text-center mt-4"><a href="{{ path('articles') }}" class="btn btn-primary">Voir tous les articles</a></div> #}
				</div>

				<div class="col-md-4 mx-auto">
					{% include "include/home-categories.html.twig" %}
				</div>
			</div>
		</section>
	</div>
{% endblock %}
