{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1 class="font-weight-bold">
			Produit
			{{ product.name }}
		</h1>

		<div class="row">
			<div class="col-md-6">
				{% if product.image %}
					<img class="img-fluid" src="/assets/images/{{ product.image }}" alt="{{ product.name }}">
				{% endif %}
			</div>
			<div class="col-md-6 mt-4 mt-md-0">
				<div class="d-flex justify-content-end mb-2">
					<a href="{{ path('cart_add', {'id':product.id}) }}" class="btn btn-primary">
						Ajouter au panier
					</a>
				</div>

				{% for category in product.category %}
					<a href="{{ path('product_category', {'slug':category.slug}) }}" class="badge badge-primary mr-2">
						{{ category.name }}
					</a>
				{% endfor %}

				{% if product.isBestSeller == true %}
					<span class="badge badge-warning ml-2">
						Best-seller
					</span>
				{% endif %}
				{% if product.isNewArrival == true %}
					<span class="badge badge-success ml-2">
						New arrival
					</span>
				{% endif %}
				{% if product.isFeatured == true %}
					<span class="badge badge-info ml-2">
						Vedette
					</span>
				{% endif %}
				{% if product.isSpecialOffer == true %}
					<span class="badge badge-danger ml-2">
						Special offer
					</span>
				{% endif %}

				<p class="mt-3">
					{{ product.description|raw }}
				</p>
				<p>
					{{ product.moreInformations|raw }}
				</p>
				<h3 class="mt-3">{{ product.price }}&euro;</h3>
				{% if product.lastPrice %}
					<h5 style="text-decoration: line-through;">{{ product.lastPrice }}&euro;</h5>
					{% set discountPercent = ((product.lastPrice - product.price) / product.lastPrice * 100) %}
					<p>{{ discountPercent|round(0) }}% de réduction !</p>
				{% endif %}

				{% if product.reviewsProducts is not empty %}
					<section class="mt-5">
						<h3>Les avis</h3>

						{% for review in product.reviewsProducts %}
							{% if review.isActive %}
								<div class="media mt-3">
									<img src="/assets/images/default-avatar.png" class="mr-3" alt="Avatar" width="50">
									<div class="media-body">
										<h5 class="mt-0">{{ review.user.username }}</h5>
										<p>{{ review.comment|raw }}</p>
										<div class="d-flex justify-content-between">
											<p class="mb-0">{{ review.note }}/5</p>
											<p class="mb-0">{{ review.createdAt|date('d/m/Y') }}</p>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}

					</section>
				{% else %}
					<h3>Aucun avis disponible pour le moment.</h3>
				{% endif %}
				{% if app.user %}
					<section>
						{{ form_start(form) }}
						{{ form_row(form.note) }}
						{{ form_row(form.comment) }}
						<button type="submit" class="btn btn-primary">Envoyer</button>
						{{ form_end(form) }}
					</section>
				{% else %}
					<a href="{{ path('app_login') }}">Connectez-vous</a>
				{% endif %}

			</div>
		</div>
	</div>
{% endblock %}
