{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block body %}
	<div class="container py-5">
		<div class="card mb-5">
			<div class="card-body">
				<h1 class="card-title text-dark">{{ article.title }}</h1>
				<span class="badge bg-light text-dark rounded-pill mb-2 fw-normal">{{ article.category.name }}</span>
				<p class="card-text">{{ article.content|raw }}</p>
			</div>
		</div>

		{% if article.image %}
			<section class="d-flex justify-content-center mb-5">
				<img class="img-fluid rounded z-depth-1-half shadow" src="/assets/images/{{ article.image }}" alt="{{ article.title }}">
			</section>
		{% endif %}
	</div>
{% endblock %}
