{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
	<div class="">
		<section class="section-blog">
			<div class="row">
				<div class="col-md-6 mx-auto">
					{% include "include/article.html.twig" %}
					{# <div class="text-center mt-4"><a href="{{ path('articles') }}" class="btn btn-primary">Voir tous les articles</a></div> #}
				</div>

				<div class="col-md-4 mx-auto">
					{% include "include/home-categories.html.twig" %}
				</div>
			</div>

			<br>
		</section>
		<section class="section-second-blog">
			{% set mois = ["", "janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"] %}
			<section>
				<div class="row row-cols-1 row-cols-md-3 g-4">
					{% for allArticle in allArticles %}
						<a href="{{ path('article', {'slug':allArticle.slug}) }}">
							<div class="card mb-5 card-article shadow">
								<div class="card-body card-body-cascade">
									<p class="card-text">
										<button class="btn card-text-article-category">
											<i class="fas fa-caret-right me-1"></i>
											{{ allArticle.category }}
										</button>
									</p>

									<h4 class="card-title card-title-article">
										{{ allArticle.title }}
									</h4>
									<p class="card-text text-dark">
										<i class="far fa-clock me-1"></i>
										Publié le
										{{ allArticle.createdAt|date('j ') ~ mois[allArticle.createdAt|date('n')] ~ allArticle.createdAt|date(' Y') }}
									</p>

									<p class="card-text card-text-article">
										{{ allArticle.description|striptags|length > 350 ? allArticle.description|striptags|slice(0, 350) ~ '...' : allArticle.description|striptags }}
									</p>
								</div>
							</div>
						</a>
					{% endfor %}
				</div>

				<div class="navigation">
					{{ knp_pagination_render(allArticles) }}
				</div>
			</section>
		</section>
	</div>
{% endblock %}
