{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!
{% endblock %}

{% block scriptStripe %}
	<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block body %}
	<div class="py-5">
		<div class="container my-5">
			<h1 class="mb-4 text-center">Récapitulatif de ma commande</h1>

			<br><br>

			<div class="row">
				<div class="col-md-4">
					<div class="card shadow">
						<div class="card-body h-100">
							<p class="card-text">{{ address | replace({"[spr]" : "<br>"}) | raw }}</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card shadow">
						<div class="card-body h-100">
							<p class="card-text">{{ carrier | replace({"[spr]" : "<br>"}) | raw }}</p>
						</div>
					</div>
				</div>
				{% if information %}
					<div class="col-md-4">
						<div class="card shadow">
							<div class="card-body h-100">
								<p class="card-text">{{ information | raw }}</p>
							</div>
						</div>
					</div>
				{% endif %}
			</div>

			<br><br>

			<div class="table-responsive">
				<table class="table table-hover">
					<thead class="table-secondary">
						<tr>
							<th scope="col">Produit</th>
							<th scope="col">Prix</th>
							<th scope="col">Quantité</th>
							<th scope="col">Total</th>
						</tr>
					</thead>
					<tbody>
						{% for element in cart.products %}
							<tr>
								<td>{{ element.product.name }}</td>
								<td>{{ element.product.price }}</td>
								<td>{{ element.quantity }}</td>
								<td>{{ element.quantity * (element.product.price) }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<br>

			<div class="row justify-content-end">
				<div class="col-md-6">
					<div class="card">
						<div class="card-body">
							<table class="table table-hover">
								<tbody>
									<tr>
										<td>Panier total</td>
										<td class="text-right">{{ cart.data.subTotalHT }}
											€</td>
									</tr>
									<tr>
										<td>Taxe (20%)</td>
										<td class="text-right">{{ cart.data.taxe }}
											€</td>
									</tr>
									<tr>
										<td>Livraison
											{{ carrier.name }}</td>
										<td class="text-right">{{ carrier.price / 100 }}
											€</td>
									</tr>
									<tr>
										<td>
											<strong>Total TTC</strong>
										</td>
										<td class="text-right">
											<strong>{{ cart.data.subTotalTTC + (carrier.price / 100) }}
												€</strong>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<br>
			{# <form action="{{ path('create-checkout-session') }}" method="POST" enctype="multipart/form-data"> #}
			<div class="d-flex justify-content-end">
				<button type="submit" class="btn btn-voir-fiche-produit" id="checkout-button">
					Payer
					<i class="fas fa-right-long text-dark ms-3"></i>
				</button>
			</div>
			{# </form> #}

		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://js.stripe.com/v3/"></script>
	<script type="text/javascript">
		// Configure Stripe.js with your Stripe public key
const stripe = Stripe('pk_test_51M3KrLJysBhvIGnl9JsLhE5V0eubXBkX9vZ11GzHuTVAskSv675viNunsTvfpJP2tZazPEoG3Kk8VqNyaxqb9pGx00RQwpSuVY');

const checkoutButton = document.getElementById('checkout-button');

checkoutButton.addEventListener('click', function () {
fetch("/create-checkout-session/{{ reference }}", {method: "POST"}).then(function (response) {
return response.json();
}).then(function (session) {
return stripe.redirectToCheckout({sessionId: session.id});
}).then(function (result) {
if (result.error) {
alert(result.error.message);
}
}).catch(function (error) {
console.error('Error : ', error);
})
})
	</script>
{% endblock %}
